.search-bar-2 {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  align-items: center;
  width: 980px;
  height: 111px;
  background-color: white;
  padding: 15px;
  /* border: 1px solid #ccc; Add border to the entire bar */
  border-radius: 3px;
  /* background: transparent;
  backdrop-filter: blur(60px); */
}

.search-container {
  display: flex;
  gap: 20px;
  /* width: 100%; */
  width: 1400px;
  height: 111px;
  margin: -40px auto;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  z-index: 2;
  /* background-color: white; */
  background: transparent;
  backdrop-filter: blur(60px);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(59, 59, 59, 0.2);
}

.dropdown-2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  /* justify-content: center; */
  height: 80px;
  width: 200px;
  background-color: #f4f4f9;
  border: 1px solid #ccc; /* Border for each dropdown */
  border-radius: 4px; /* Optional: rounds the corners of the dropdowns */
  /* padding: 5px; */
  padding: 10px;
  font-size: 16px;
  /* margin: 0 auto; */
  text-align: center;
  appearance: none;
  line-height: 1.5;
}

.search-button-2 {
  margin-top: -10px;
  height: 70px;
  width: 200px;
  background-color: rgb(16, 85, 154); 
  color: white;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-family: Bebas Neue, serif
}

/* .search-button-2:hover {
  background-color: #45a049; 
} */
