.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
    width: 100vw;
    flex: 1;
    background-color: #05232a;
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  h3 {
    margin-top: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  